.so-widget-sow-image-default-05ac108fa4e0 .widget-title {
  text-align: center;
}
.so-widget-sow-image-default-05ac108fa4e0 .sow-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.so-widget-sow-image-default-05ac108fa4e0 .sow-image-container > a {
  width: inherit;
}
.so-widget-sow-image-default-05ac108fa4e0 .sow-image-container .so-widget-image {
  display: block;
  max-width: 100%;
  width: inherit;
  height: auto;
}